.App {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4e5860;
  background-image: url('./assets/gloss.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
}
